{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body{
            margin: 0;
        }

        table{
            border-width:1px;
            border-style:solid;
            border-color:black;
            margin: auto;
            width: 75%;
        }

        td{
         border-width:1px;
            border-style:solid;
            border-color:black;
        }

        thead, tbody{
            text-align: center;
        }

        h1{
            line-height: 25vh;
            text-align: center;
        }
    </style>

    <h1>Liste des cartes</h1>

    <table>
        <thead>
            <th>Nom</th>
            <th>Strike</th>
            <th>Attack</th>
            <th>HP</th>
            <th>Category</th>
            <th>Creator</th>
        </thead>
        <tbody>
            {% for card in cardList %}
                <tr>
                    <td>{{ card.name }}</td>
                    <td>{{ card.strike }}</td>
                    <td>{{ card.attack }}</td>
                    <td>{{ card.hp }}</td>
                    <td>{{ card.category.name }}</td>
                    {% if card.getUser is not empty %}
                        <td>{{ card.getUser.name }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
