{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body{
            margin: 0;
        }

        table{
            border-width:1px;
            border-style:solid;
            border-color:black;
            margin: auto;
            width: 75%;
        }

        td{
         border-width:1px;
            border-style:solid;
            border-color:black;
        }

        thead, tbody{
            text-align: center;
        }

        h1{
            line-height: 25vh;
            text-align: center;
        }
        .cercle {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            color: white;
        }
        .strike {
            background: green;
        }
        .attack {
            background: brown;
        }
        .hp {
            background: red;
        }
        .containerCard{
            padding: 75px;
        }
        .card:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.8);
        }
        .card-img-top{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
    <h1>Cards List</h1>
    <div class="containerCard">
    {% for card in cardList %}
        <div class="card" style="width: 18rem;display: inline-flex; margin-right: 5rem;margin-bottom: 5rem;height: 390px;">
            <!--<img class="card-img-top" style="padding: 10px;background: currentColor" src="https://www.numerama.com/content/uploads/2019/05/trou-noir-astronomie-univers-espace.jpg" alt="Card image cap">-->
            <div class="card-img-top" style="padding: 10px;height: 200px;background-image: url({%  if card.image %}{{ asset('uploads/cards/' ~ card.image) }}{% else %}{{ 'https://www.numerama.com/content/uploads/2019/05/trou-noir-astronomie-univers-espace.jpg' }}{% endif %})"></div>
            <div class="card-body" style="background: currentColor">
                <h5 class="card-title" style="text-align: center;color: white">{{ card.name }}</h5>
                <div class="card-text" style="text-align: center">
                    <tr>
                        <td>
                            <div class="cercle strike" style="display: inline-flex;color: white">
                                {#<span style="position: absolute; margin-left: 11px; margin-top: 7px;">{{ card.strike }}</span>#}
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.strike }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="cercle attack" style="display: inline-flex;color: white">
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.attack }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="cercle hp" style="display: inline-flex;color: white">
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.hp }}</span>
                            </div>
                        </td>
                        <div style="color: white">
                            <td>Category : {{ card.category.name }}</td>
                        </div>
                        <div style="color: white">
                            {% if card.getUser is not empty %}
                                <td>Autor : {{ card.getUser.name }}</td>
                            {% endif %}
                        </div>
                    </tr>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
