{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body{
            margin: 0;
        }

        table{
            border-width:1px;
            border-style:solid;
            border-color:black;
            margin: auto;
            width: 75%;
        }

        td{
         border-width:1px;
            border-style:solid;
            border-color:black;
        }

        thead, tbody{
            text-align: center;
        }

        h1{
            line-height: 25vh;
            text-align: center;
        }
        .cercle {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            color: white;
        }
        .strike {
            background: green;
        }
        .attack {
            background: brown;
        }
        .hp {
            background: red;
        }
        .containerCard{
            padding: 75px;
        }
    </style>
    <h1>Liste des cartes</h1>
    <div class="containerCard">
    {% for card in cardList %}
        <div class="card" style="width: 18rem;display: inline-flex; margin-right: 5rem;margin-bottom: 5rem;">
            <img class="card-img-top" style="padding: 10px;background: currentColor" src="https://www.numerama.com/content/uploads/2019/05/trou-noir-astronomie-univers-espace.jpg" alt="Card image cap">
            <div class="card-body" style="background: currentColor">
                <h5 class="card-title" style="text-align: center;color: white">{{ card.name }}</h5>
                <div class="card-text" style="text-align: center">
                    <tr>
                        <td>
                            <div class="cercle strike" style="display: inline-flex;color: white">
                                {#<span style="position: absolute; margin-left: 11px; margin-top: 7px;">{{ card.strike }}</span>#}
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.strike }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="cercle attack" style="display: inline-flex;color: white">
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.attack }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="cercle hp" style="display: inline-flex;color: white">
                                <span style="padding-left: 11px;padding-top: 8px;">{{ card.hp }}</span>
                            </div>
                        </td>
                        <div style="color: white">
                            <td>Category : {{ card.category.name }}</td>
                        </div>
                        <div style="color: white">
                            {% if card.getUser is not empty %}
                                <td>Autor : {{ card.getUser.name }}</td>
                            {% endif %}
                        </div>
                    </tr>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {#<h1>Liste des cartes</h1>

    <table>
        <thead>
            <th>Nom</th>
            <th>Strike</th>
            <th>Attack</th>
            <th>HP</th>
            <th>Category</th>
            <th>Creator</th>
        </thead>
        <tbody>
            {% for card in cardList %}
                <tr>
                    <td>{{ card.name }}</td>
                    <td>{{ card.strike }}</td>
                    <td>{{ card.attack }}</td>
                    <td>{{ card.hp }}</td>
                    <td>{{ card.category.name }}</td>
                    {% if card.getUser is not empty %}
                        <td>{{ card.getUser.name }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>#}
{% endblock %}
